<!--sidebar.html-->
        <header class="sidebar_header " role="banner">
            <a href="{{site.baseurl}}/">
                <img src = "http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle img-responsive center-block" />
            </a>


            <h3 class="title text-center">
                <a href="{{site.baseurl}}/">{{site.title}}</a>
            </h3>

        </header>


        <hr class="hr_short"/>
        <div id = "bio" class="text-center sidebar_bio">
            {% if site.author.bio%}

                {{site.author.bio}}

            {% endif %}
        </div>


        <hr class="hr_middle"/>
        <div id = "contact-list" class="text-center">
            <ul class="list-unstyled list-inline">
                <li>
                    {% if site.author.email %}
                    <a class="btn btn-default btn-md" href="mailto:{{site.author.email}}"><i class="fa fa-envelope fa-lg"></i></a>
                    {% endif %}
                </li>

                <li>
                    {% if site.author.github %}
                    <a class="btn btn-default btn-md" href="https://github.com/{{site.author.github}}"><i class="fa fa-github fa-lg"></i></a>
                    {% endif %}
                </li>

                <li>
                    {% if site.author.twitter %}
                    <a class="btn btn-default btn-md" href="https://github.com/{{site.author.github}}"><i class="fa fa-twitter fa-lg"></i></a>
                    {% endif %}
                </li>
        </div>


        <hr class="hr_short"/>
        <ul class="unstyled-list list-inline">
            <li>
                <a class="btn btn-default btn-sm" href="{{site.baseurl}}/index.html"><i class="fa fa-home fa-lg"></i> Home</a>
            </li>

            <li>
                <a class="btn btn-default btn-sm" href="{{site.baseurl}}/tags.html"><i class="fa fa-tags fa-lg"></i> Tags</a>
            </li>

            <li>
                <a class="btn btn-default btn-sm" href="{{site.baseurl}}/categories.html"><i class="fa fa-list fa-lg"></i> Categories</a>
            </li>
        </ul>
        <div class="padding_bottom_500"></div>




<!--sidebar.html end-->
