<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2013-11-14-sample-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82516998</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2013-11-14-sample.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517302</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2013-11-15-configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517201</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2013-11-15-hello-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517201</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-09-01-Algorithm(一)_时间空间复杂度.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82518202</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-09-02-Algorithm(二)_Bag,Queue,Stack(LinkList, Array).md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82518202</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-09-03-Algorithm(三)_Union-Find.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82518101</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-09-04-Algorithm(四)_Sorting 排序.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82518101</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-09-05-Algorithm(五)_Searching 搜索.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82518101</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-09-06-Algorithm(5.1)_Graph 图.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517999</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-09-07-Algorithm(5.2)_Graph 图.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517999</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-11-15-block-reactive.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517302</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-02-18-Key Value Observing.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517898</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-02-20-SpriteKit.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517397</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-07-Guard关键词.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517397</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-07-weak strong dance.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517898</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-08-SequenceType来实现for in 语句.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517803</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-09-Let's build Array.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517803</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-09-unsafeMutablePointer.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517803</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-14-OC Runtime(一)_Sending Message.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517701</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-15-OC Runtime(二)_Associated Objects.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517701</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-16-OC Runtime(三)_method swizzling.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.825176</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-17-OC Runtime(四)_isa swizzling.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.825176</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-18-OC Runtime(五)_Category.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517499</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-19-OC Runtime(六)_iVar and Property.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517499</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2016-03-20-OC Runtime(七)_Test.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82517499</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>lastModification</key>
				<real>483089419.82516402</real>
				<key>version</key>
				<dict>
					<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
					<integer>14</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-11-14-sample-2.md</string>
		</array>
		<array>
			<string>2013-11-15-hello-world.md</string>
		</array>
		<array>
			<string>2013-11-15-configuration.md</string>
		</array>
		<array>
			<string>2015-11-15-block-reactive.md</string>
		</array>
		<array>
			<string>2013-11-14-sample.md</string>
		</array>
		<array>
			<string>2016-02-20-SpriteKit.md</string>
		</array>
		<array>
			<string>2016-03-07-Guard关键词.md</string>
		</array>
		<array>
			<string>2016-03-20-OC Runtime(七)_Test.md</string>
		</array>
		<array>
			<string>2016-03-19-OC Runtime(六)_iVar and Property.md</string>
		</array>
		<array>
			<string>2016-03-18-OC Runtime(五)_Category.md</string>
		</array>
		<array>
			<string>2016-03-17-OC Runtime(四)_isa swizzling.md</string>
		</array>
		<array>
			<string>2016-03-16-OC Runtime(三)_method swizzling.md</string>
		</array>
		<array>
			<string>2016-03-15-OC Runtime(二)_Associated Objects.md</string>
		</array>
		<array>
			<string>2016-03-14-OC Runtime(一)_Sending Message.md</string>
		</array>
		<array>
			<string>2016-03-09-unsafeMutablePointer.md</string>
		</array>
		<array>
			<string>2016-03-09-Let's build Array.md</string>
		</array>
		<array>
			<string>2016-03-08-SequenceType来实现for in 语句.md</string>
		</array>
		<array>
			<string>2016-03-07-weak strong dance.md</string>
		</array>
		<array>
			<string>2016-02-18-Key Value Observing.md</string>
		</array>
		<array>
			<string>2015-09-07-Algorithm(5.2)_Graph 图.md</string>
		</array>
		<array>
			<string>2015-09-06-Algorithm(5.1)_Graph 图.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>2015-09-05-Algorithm(五)_Searching 搜索.md</string>
		</array>
		<array>
			<string>2015-09-04-Algorithm(四)_Sorting 排序.md</string>
		</array>
		<array>
			<string>2015-09-03-Algorithm(三)_Union-Find.md</string>
		</array>
		<array>
			<string>2015-09-02-Algorithm(二)_Bag,Queue,Stack(LinkList, Array).md</string>
		</array>
		<array>
			<string>2015-09-01-Algorithm(一)_时间空间复杂度.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>abe119923df68f91f013554c8174af84755085a456a37e675a3220e257c1a7dd</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>
